#### Imports

In [1]:
import requests
import pandas as pd

#### Testing Trransaction Historry Scrape on 1 Token

In [2]:
#pulling transactions for 1 sample token in collection:

url='https://api.rarible.org/v0.1/activities/byItem'

#mfers: '0x79fcdef22feed20eddacbb2587640e45491b757f'
token_id=7510 #1-10_000
collection_token='0x79fcdef22feed20eddacbb2587640e45491b757f'
blockchain='ETHEREUM'

params={
    'type':['BID','SELL'],
    'itemId':f'{blockchain}:{collection_token}:{token_id}',
    'size':100,
    'sort':'EARLIEST_FIRST'
}

In [3]:
#checking status_code

res=requests.get(url, params)
res.status_code

200

In [4]:
#how many transactions?

len(res.json()['activities'])

14

In [5]:
#storing token transaction history 

txns = res.json()['activities']

In [6]:
#checking for BID's and SELL's only:

for txn in txns:
    print(txn['@type'])

SELL
BID
BID
BID
BID
CANCEL_LIST
CANCEL_LIST
BID
SELL
BID
CANCEL_LIST
CANCEL_LIST
CANCEL_LIST
SELL

In [8]:
#addings BIDs to bids list SELLs to sells list:

bids=[]
sells=[]
for i in range(len(txns)):
    if txns[i]['@type'] == 'BID':
        bids.append(txns[i])
    elif txns[i]['@type']  == 'SELL':
        sells.append(txns[i])

In [48]:
#placing sample transactions in dataframes:

bids_df = pd.DataFrame(bids)
bids_df.head(3)

,@type,id,date,hash,maker,make,take,price,priceUsd,source
0,BID,ETHEREUM:61fc98425fd60a6fad6095d1,2022-02-04T03:06:42.043Z,0xb26c6ff4ede2d61d1220de6f522890b9c6fbffd276e6...,ETHEREUM:0xbfb7cd3407a9b50f2f96c4d565612fc363c...,"{'type': {'@type': 'ERC20', 'contract': 'ETHER...","{'type': {'@type': 'COLLECTION', 'contract': '...",0.014,37.5763779243965924,RARIBLE
1,BID,ETHEREUM:61fdadceb26cf347d76fcfcc,2022-02-04T22:50:54.323Z,0x0dc18cc39e83a6f9bac6a5aac79e991eb41208039a2f...,ETHEREUM:0x2ec44cd0da1f897e997699b6b0ab478cdb5...,"{'type': {'@type': 'ERC20', 'contract': 'ETHER...","{'type': {'@type': 'COLLECTION', 'contract': '...",0.004,11.80123249611046,RARIBLE
2,BID,ETHEREUM:62014df71e61f742a10d7257,2022-02-07T16:51:03.864Z,0x0ed654bbe7ff2ac129a0be065f13920475850d91d2d5...,ETHEREUM:0x84a68bb45f41b75360338e98fc43367e682...,"{'type': {'@type': 'ERC20', 'contract': 'ETHER...","{'type': {'@type': 'COLLECTION', 'contract': '...",0.2,625.4648191433756,RARIBLE

In [49]:
sells_df = pd.DataFrame(sells)
sells_df.head(3)

,@type,source,transactionHash,blockchainInfo,id,date,nft,payment,buyer,seller,buyerOrderHash,sellerOrderHash,price,priceUsd,amountUsd,type
0,SELL,OPEN_SEA,0x74e9c3dfdd5bd5254e6ba22ab48f41e0f3011e5fe728...,{'transactionHash': '0x74e9c3dfdd5bd5254e6ba22...,ETHEREUM:61f89dd0adf8693a8fb1a634,2022-02-01T02:40:41Z,"{'type': {'@type': 'ERC721', 'contract': 'ETHE...","{'type': {'@type': 'ETH', 'blockchain': 'ETHER...",ETHEREUM:0x5732013a1dbafe45dc65b92c8d5f43bc4ca...,ETHEREUM:0xa32fcc1b3d4e2b597cf626f98228e68b63e...,0x9fa0f430ffbd62365dc20bbf59b701e66f99e5228bc9...,0x988dfb56a0fe1ec4ff787c3f940f4b952fc30e88b63f...,0.777,2390.862465566956311,2390.862465566956311,SELL
1,SELL,OPEN_SEA,0x36c46feacf48ad3fba6cdc4059f159b17fb53986e882...,{'transactionHash': '0x36c46feacf48ad3fba6cdc4...,ETHEREUM:6205e6ac138e1401c40d1f29,2022-02-11T04:30:42Z,"{'type': {'@type': 'ERC721', 'contract': 'ETHE...","{'type': {'@type': 'ETH', 'blockchain': 'ETHER...",ETHEREUM:0x0a9931ab317d8398e7316f7889f6ca39de3...,ETHEREUM:0x5732013a1dbafe45dc65b92c8d5f43bc4ca...,0x7bfc19b24c9e9d0b16e3a7e4d63d870f7e3eb6045eb7...,0xb23fe91bc7e814df7e5d55592e8df563ce61f3409f1b...,1.69,4267.48942193427048,4267.48942193427048,SELL
2,SELL,OPEN_SEA,0x859fb8acc9141cb2d69f4188d150266045153d5d38bb...,{'transactionHash': '0x859fb8acc9141cb2d69f418...,ETHEREUM:6217af8a330a84056a453b6a,2022-02-24T16:16:08Z,"{'type': {'@type': 'ERC721', 'contract': 'ETHE...","{'type': {'@type': 'ETH', 'blockchain': 'ETHER...",ETHEREUM:0xcda73f6a6c249c080281853c6795604331c...,ETHEREUM:0x0a9931ab317d8398e7316f7889f6ca39de3...,0x59a849064a6a1a8cdc4f1b02d56310f3036c29b4b69c...,0xa92407801e67d5debd364479ea2dc04047a744eb1d07...,3.469,8461.4900510612750457,8461.4900510612750457,SELL

----

#### Scraping Transaction History for All Tokens in Collection

In [11]:
def transactions_scraper(collection_contract_token):
    #setting up token_id iteration and creating blank bids & sells list
    bid_list = []
    sale_list = []
    
    #creating requests loop to run thru token_id #1-10_000
    for n in range(1,10_001):
        token_id=n
        url = 'https://api.rarible.org/v0.1/activities/byItem'
        blockchain = 'ETHEREUM'
        params={
        'type':['BID','SELL'], 
        'itemId':f'{blockchain}:{collection_contract_token}:{token_id}',
        'size':100,
        'sort':'EARLIEST_FIRST'
        }
        res = requests.get(url, params)
        if res.status_code != 200:
            print(f'{res.status_code} error thrown at token_id={n}.')
        else:
            pass
        
        #storing token transaction history 
        txns = res.json()['activities']
        
        #addings BIDs to bids list & SELLs to sells list:
        for i in range(len(txns)):
            if txns[i]['@type'] == 'BID':
                bid_list.append(txns[i])
            elif txns[i]['@type']  == 'SELL':
                sale_list.append(txns[i])
                
        #status updates:       
        if n % 500==0:
            print(f'fx has scraped {n} tokens...')
            
    #storing list data in pandas df
    df1 = pd.DataFrame(bid_list)
    df2 = pd.DataFrame(sale_list)
    return df1, df2

In [12]:
#attempting scrape w/function

mfers_contract = '0x79fcdef22feed20eddacbb2587640e45491b757f'

bids, sales = transactions_scraper(mfers_contract)

fx has scraped 500 tokens...
fx has scraped 1000 tokens...
fx has scraped 1500 tokens...
fx has scraped 2000 tokens...
fx has scraped 2500 tokens...
fx has scraped 3000 tokens...
fx has scraped 3500 tokens...
fx has scraped 4000 tokens...
fx has scraped 4500 tokens...
fx has scraped 5000 tokens...
fx has scraped 5500 tokens...
fx has scraped 6000 tokens...
fx has scraped 6500 tokens...
fx has scraped 7000 tokens...
fx has scraped 7500 tokens...
fx has scraped 8000 tokens...
fx has scraped 8500 tokens...
fx has scraped 9000 tokens...
fx has scraped 9500 tokens...
fx has scraped 10000 tokens...

In [21]:
bids.head(2)

,@type,id,date,hash,maker,make,take,price,priceUsd,source
0,BID,ETHEREUM:61fc98425fd60a6fad6095d1,2022-02-04T03:06:42.043Z,0xb26c6ff4ede2d61d1220de6f522890b9c6fbffd276e6...,ETHEREUM:0xbfb7cd3407a9b50f2f96c4d565612fc363c...,"{'type': {'@type': 'ERC20', 'contract': 'ETHER...","{'type': {'@type': 'COLLECTION', 'contract': '...",0.014,37.5763779243965924,RARIBLE
1,BID,ETHEREUM:61fdadceb26cf347d76fcfcc,2022-02-04T22:50:54.323Z,0x0dc18cc39e83a6f9bac6a5aac79e991eb41208039a2f...,ETHEREUM:0x2ec44cd0da1f897e997699b6b0ab478cdb5...,"{'type': {'@type': 'ERC20', 'contract': 'ETHER...","{'type': {'@type': 'COLLECTION', 'contract': '...",0.004,11.80123249611046,RARIBLE

In [15]:
bids.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 60016 entries, 0 to 60015
Data columns (total 10 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   @type     60016 non-null  object
 1   id        60016 non-null  object
 2   date      60016 non-null  object
 3   hash      60016 non-null  object
 4   maker     60016 non-null  object
 5   make      60016 non-null  object
 6   take      60016 non-null  object
 7   price     60016 non-null  object
 8   priceUsd  60009 non-null  object
 9   source    60016 non-null  object
dtypes: object(10)
memory usage: 4.6+ MB

In [22]:
sales.head(2)

,@type,source,transactionHash,blockchainInfo,id,date,nft,payment,buyer,seller,buyerOrderHash,sellerOrderHash,price,priceUsd,amountUsd,type
0,SELL,OPEN_SEA,0x1f949be807ddd05d5fdd069208b17faf7e72be35ca29...,{'transactionHash': '0x1f949be807ddd05d5fdd069...,ETHEREUM:62108454ab6abc740feb090b,2022-02-19T05:46:20Z,"{'type': {'@type': 'ERC721', 'contract': 'ETHE...","{'type': {'@type': 'ETH', 'blockchain': 'ETHER...",ETHEREUM:0x6365398036d4ef045254fce2e525ac59760...,ETHEREUM:0xe6fe14a30631b22d3f78d9ec7869eb62d6e...,0x21e8db42ec7ed562eb0990c07529c6cf5612cbf70eaf...,0xf4ca148cdb29bff57ed1901a4ff690ac21d2c3dc0630...,3.3,8370.46285277911104,8370.46285277911104,SELL
1,SELL,OPEN_SEA,0x58c3e7d536aefdefd50cba425dd18555e5bf80fab379...,{'transactionHash': '0x58c3e7d536aefdefd50cba4...,ETHEREUM:6216ea6bbcd9e83f039385dc,2022-02-24T02:15:15Z,"{'type': {'@type': 'ERC721', 'contract': 'ETHE...","{'type': {'@type': 'ETH', 'blockchain': 'ETHER...",ETHEREUM:0xcb4652bb0396880c3b2609d5a37e19df731...,ETHEREUM:0x6365398036d4ef045254fce2e525ac59760...,0x6e9a342203d6705fd2d521ff02d89f5249473765f102...,0xb0ca5248d2577a9cf92e8ea1967df2de1adfc67a6cf2...,3.75,9653.74896159330675,9653.74896159330675,SELL

In [16]:
sales.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 19784 entries, 0 to 19783
Data columns (total 16 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   @type            19784 non-null  object
 1   source           19784 non-null  object
 2   transactionHash  19784 non-null  object
 3   blockchainInfo   19784 non-null  object
 4   id               19784 non-null  object
 5   date             19784 non-null  object
 6   nft              19784 non-null  object
 7   payment          19784 non-null  object
 8   buyer            19784 non-null  object
 9   seller           19784 non-null  object
 10  buyerOrderHash   19784 non-null  object
 11  sellerOrderHash  19784 non-null  object
 12  price            19784 non-null  object
 13  priceUsd         19784 non-null  object
 14  amountUsd        19784 non-null  object
 15  type             19784 non-null  object
dtypes: object(16)
memory usage: 2.4+ MB

In [17]:
bids.to_csv('./data/bids_raw.csv')

In [18]:
sales.to_csv('./data/sales_raw.csv')

----